/**
 
 All your styles belong here.

*/

.css-strike {
    display:inline-block;
    position:relative;
}

.css-strike i {
    width:110%;
    height:6px;
    background:#333;
    position:absolute;
    top:37%;
    left:-5%;
    display:block;
}